.leave-status-container {
  background-color: #e7eeff;
  min-height: 100vh;
  padding: 50px 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.leave-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #000;
}

.search-bar {
  width: 100%;
  max-width: 500px;
  padding: 8px;
  margin: 0 auto 20px auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
}

/* Grid container for the leave cards */
.leave-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px; /* Adjust spacing between cards */
  justify-items: center;
  margin-top: 20px;
}

/* Individual leave cards */
.leave-card {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  box-sizing: border-box;
}

.leave-details p {
  margin: 8px 0;
  text-align: left;
}

.status.pending {
  color: green;
  font-weight: bold;
}
